<!DOCTYPE html>
<html>
  <head>
    <title>Findr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%
      def user_is_logged_in
        session[:user_id]
      end
    %>

    <% if user_is_logged_in %>
        Hello username

        <p><%= link_to 'Logout', sessions_path, method: :delete %></p>
    <% else %>
        Please login

        <p><%= link_to 'New User', new_users_path %></p>
        <p><%= link_to 'Login', new_sessions_path %></p>
    <% end %>


    <%= yield %>
  </body>
</html>
